/* Import des polices */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

/* Variables de couleurs */
:root {
  --black: #000000;
  --ash-black: #222;
  --white: #fafafa;
  --sky: #00ccff;
  --green: #22dddd;
  --blue: #1300ff;
  --dusk: #6600ff;
  --purple: #9900ff;
  --pink: #ff0066;
  --azur: #64ffda;
  --orange: #fd7702;
  --yellow: #ffbb00;

  --background: var(--azur); /* Couleur de fond par défaut */
  --accent: var(--white); /* Couleur du texte par défaut */

  --github-icon-dark: #FFFFFF; /* Couleur blanche en mode sombre */
  --github-icon-light: #000000; /* Couleur noire en mode clair */
}

/* Styles globaux */
* {
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

/* Titres */
h1, h2, h3 {
  font-family: sofia-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.2;
  text-align: center;
  margin: 100px 0 40px;
}

h2 {
  font-weight: 400;
  margin: 50px 0 10px;
}

/* Paragraphes */
p {
  margin: 0 0 30px 0;
  font-size: 18px;
  
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background-image: radial-gradient(
    rgba(0, 0, 0, 0) 1px,
    var(--background) 1px
  );
  background-size: 4px 4px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  -moz-backdrop-filter: blur(3px);
  font-size: 14px;
  line-height: 14px;
}

footer::before {
  content: '';
  display: block;
  height: 1px;
  background: var(--accent);
  opacity: 0.2;
}

footer svg {
  margin-right: 20px;
}

footer a {
  text-decoration: none;
  color: var(--accent);
}

/* Code */
code {
  font-family: input-mono, monospace;
  font-weight: 400;
  font-style: normal;
}

/* Scrollbar */
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: var(--background);
}

/* Scroll snap */
html {
  scroll-snap-type: y mandatory;
}

/* Répétition des styles */
h1 {
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 1.2;
  text-align: center;
  margin: 100px 0;
}

/* Styles pour les sections */
section {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 500px;
}

section > div {
  width: 300px;
  height: 400px;
  position: relative;
  max-height: 90vh;
  margin: 20px;
  overflow: hidden;
}

/* img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 80%;
  border-radius: 1.5em;
  object-fit: scale-down;
} */

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Pour aligner verticalement également */
  margin-bottom: 10em;
  margin-top: 10em;
}


/* Barre de progression */
.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--accent);
  bottom: 100px;
}

/* Conteneur */
.container {
  height: 5em;
	width: 80%;
	margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

/* Logo */
.logo {
  float: left;
  padding: 10px 0;
}

/* Navigation */
nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}

nav a:hover {
  color: #fff;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #000;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
  color: var(--azur);
}

/* Thème clair */
.light-theme nav a {
  color: #000;
}

/* Thème sombre */
.dark-theme nav a {
  color: var(--azur);
}

/* Thèmes */
.light-theme {
  background-color: var(--azur);
  color: #000;
  /* Autres styles pour le thème clair */
}

.dark-theme {
  background-color: #000;
  color: var(--azur);
  /* Autres styles pour le thème sombre */
}

/* hero */


.hero-container > video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.hero-container > p {
  margin-top: 8px;
  font-size: 100px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  z-index: 0;
}

@keyframes blinkCursor {
  50% {
    border-right-color: transparent;
  }
}

@keyframes typeAndDelete {
  0%,
  10% {
    width: 0;
  }
  45%,
  55% {
    width: 6.2em;
  } /* adjust width based on content */
  90%,
  100% {
    width: 0;
  }
}

.terminal-loader {
  border: 0.1em solid #333;
  background-color: #1a1a1a;
  color: var(--azur);
  font-family: "Courier New", Courier, monospace;
  font-size: 3em;
  padding: 1.5em 1em;
  width: 15em;
  height: 10em;
  margin: 100px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.terminal-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1.5em;
  background-color: #333;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0 0.4em;
  box-sizing: border-box;
}

.terminal-controls {
  float: right;
}

.control {
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  margin-left: 0.4em;
  border-radius: 50%;
  background-color: #777;
}

.control.close {
  background-color: #e33;
}

.control.minimize {
  background-color: #ee0;
}

.control.maximize {
  background-color: #0b0;
}

.terminal-title {
  float: left;
  line-height: 1.5em;
  color: #eee;
}

.text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.2em solid var(--azur); /* Cursor */
  animation: typeAndDelete 4s steps(11) infinite,
    blinkCursor 0.5s step-end infinite alternate;
  margin-top: 1.5em;
}


/* Card */
/* Card container */
.card-container {
  position: relative;

  margin: 32px auto;
  max-width: 720px;
  height: 420px;
  perspective: 1000px;
}

/* Card body */
.card-body {
  background-color: #fff;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all .7s linear;
  border-radius: 20px;

}

/* Flipping the card */
.card-container:hover .card-body {
  transform: rotateY(180deg);
}

.card-container:hover > .card-body > .side-front {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in, visibility .75s linear;
}

/* Card sides */
.card-side {
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  color: #212121;
  backface-visibility: hidden;
  box-shadow: 0 10px 35px rgba(50,50,93,.1),0 2px 15px rgba(0,0,0,.07);
}




/* Button */
.btn-primary {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #0c81f6;
  border: none;
  box-shadow: 0 10px 35px rgba(50,50,93,.1),0 2px 15px rgba(0,0,0,.07);
  transition: background-color .25s ease-in, box-shadow .25s ease-in;
}

.btn-primary:focus,
.btn-primary:hover {
  background-color: lighten(#0c81f6, 15%);
  box-shadow: 0 18px 35px rgba(50,50,93,.1),0 8px 15px rgba(0,0,0,.07);
}

/* Social links */
.social-links {
  padding: 0;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.social-links li:not(:first-child) {
  margin-left: 24px;
}

.social-links a {
  color: #212121;
  transition: opacity .25s ease-in;
}

.social-links a:focus,
.social-links a:hover {
  opacity: .5;
}

.social-links i {
  font-size: 24px;
}

/* contact   */

.social-icons {
  max-width: 980px;
  margin: 0 auto;
}

.icon {
  float: left;
  position: relative;
  width: 19%;
  height: 0;
  margin: 1% 0.5%;
  padding-bottom: 19%;

  @media all and (min-width: 640px) {
      width: 9%;
      padding-bottom: 9%;
  }

  &:last-of-type {
      margin-right: 0;
  }

  a {
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      margin-right: 20px;
      border: 0;
      border-radius: 10px;
      background-color: #fff;
      background-size: 70%;
      background-repeat: no-repeat;
      background-position: center center;
      transition: all .2s ease-out;

      &:hover {
          background-color: #222;
          background-size: 0%;
          transition: all .2s ease-out;
      }
  }
}

.icon__name {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -7px;
  color: #fff;
  font-size: 13px;
  text-align: center;

  transition: all .3s ease-out;
  opacity: 0;
  filter: blur(25px);
  transform: translateZ(0);
  will-change: transform;

  .icon:hover & {
      transition: all .3s ease-out;
      opacity: 1;
      filter: blur(0);
  }
}


/* Customise Icons */
.container-icon {



    justify-content: center;

}


.icons {
  display: block;
  justify-content: center;
}


.icon--linkedin a {
  background-color: #007fb1;
  background-image: url('https://benhodgson.net/img/social/linkedin.svg');
}

.icon--instagram a {
  background-color: #405de6;
  background-image: url('https://benhodgson.net/img/social/instagram.svg');
}


.icon--github a {
  background-color: #000;
  background-image: url('https://benhodgson.net/img/social/github.svg');
}


/* Form */
.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: inherit;
  gap: 10px;
  padding-inline: 2em;
  padding-bottom: 0.4em;
  background-color: #171717;
  /* background-color: #0a192f; */
  border-radius: 20px;
}

.form-heading {
  text-align: center;
  margin: 2em;
  color: #64ffda;
  font-size: 1.2em;
  background-color: transparent;
  align-self: center;
}

.form-field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 10px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #ccd6f6;
  padding-inline: 1em;
}

.sendMessage-btn {
  cursor: pointer;
  margin-bottom: 3em;
  padding: 1em;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #64ffda;
  font-weight: bold;
  outline: 1px solid #64ffda;
  transition: all ease-in-out 0.3s;
}

.sendMessage-btn:hover {
  transition: all ease-in-out 0.3s;
  background-color: #64ffda;
  color: #000;
  cursor: pointer;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.form-card1 {
  background-image: linear-gradient(163deg, #64ffda 0%, #64ffda 100%);
  border-radius: 22px;
  transition: all 0.3s;
}

.form-card1:hover {
  box-shadow: 0px 0px 30px 1px rgba(100, 255, 218, 0.3);
}

.form-card2 {
  border-radius: 0;
  transition: all 0.2s;
}

.form-card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}
